<md-menu class="tab-menu" ng-show="nmc.hasProfilePermission(2015) || nmc.hasProfilePermission(2016) || nmc.hasProfilePermission(2018)">
    <md-button class="md-icon-button" ng-click="nmc.openTabMenu($mdOpenMenu, $event)" aria-label="Show Menu">
        <md-icon md-svg-icon="menu_secondary"></md-icon>
    </md-button>
    <md-menu-content width="3">
        <md-menu-item ng-if="nmc.hasProfilePermission(2015)">
            <md-button ng-click="nmc.showEmailRecord($event)" ng-disabled="!nmc.hasEmail()" class="email-record">
                <md-icon md-svg-icon="email"></md-icon>
                Email
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="nmc.hasProfilePermission(2018)">
            <md-button ng-click="nmc.showSecureShare($event)" class="secure-share">
                <md-icon md-svg-icon="share"></md-icon>
                Secure Share</md-button>
        </md-menu-item>
        <md-menu-item ng-if="nmc.hasProfilePermission(2016)">
            <md-button ng-click="nmc.downloadContent()" class="download-content">
                <md-icon md-svg-icon="download"></md-icon>
                Download</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>