<div layout="row" flex="grow" ng-cloak layout-align="center center" class="loginPage">
    <md-whiteframe class="md-whiteframe-1dp" flex="25" layout="column" layout-align="center center">
        <md-toolbar layout="row" class="md-toolbar-tools" layout-align="center center">
            Meeting Manager Login
        </md-toolbar>
        <md-content layout-padding layout="row" layout-align="center center">
            <form name="loginForm" id="loginForm">
                <md-input-container class="md-block" flex="100">
                    <label>Username</label>
                    <input ng-model="login.username">
                </md-input-container>
                <md-input-container class="md-block" flex="100">
                    <label>Password</label>
                    <input type="password" ng-model="login.password">
                </md-input-container>
                <div class="password-error">{{login.errorMessage}}</div>
                <md-button class="md-raised md-primary" ng-click="login.login()">Login</md-button>
            </form>
        </md-content>
        <div class="secondaryLink" flex="100" layout="row" layout-align="end center">
            <md-button md-no-ink ng-href="/forgotPassword">Forgot password?</md-button>
        </div>
    </md-whiteframe>
</div>