<style>
    .md-primary {
        margin-left: 0px;
        width: 100%;
    }

    form label {
        font-size: 1.2em;
    }
</style>
<div layout="row" flex="grow" style="height:100%;" ng-cloak layout-align="center center">
    <md-whiteframe class="md-whiteframe-1dp" flex="25" layout="column" layout-align="center center">
        <md-toolbar layout="row" class="md-toolbar-tools" layout-align="center center">
            Ebikko Login Page
        </md-toolbar>
        <md-content layout-padding layout="row" layout-align="center center">
            <form name="loginForm">
                <md-input-container class="md-block" flex="100">
                    <label>Username</label>
                    <input ng-model="login.username">
                </md-input-container>
                <md-input-container class="md-block" flex="100">
                    <label>Password</label>
                    <input type="password" ng-model="login.password">
                </md-input-container>
                <md-button class="md-raised md-primary" ng-click="login.login()">Login</md-button>
            </form>
        </md-content>
    </md-whiteframe>
</div>