<md-content layout-padding layout="row" layout-align="center center">
    <form name="changePasswordForm">
        <md-input-container class="md-block" flex="100">
            <label>Old Password</label>
            <input type="password" ng-model="cpc.oldPassword">
        </md-input-container>
        <md-input-container class="md-block" flex="100">
            <label>New Password</label>
            <input type="password" ng-model="cpc.newPassword">
        </md-input-container>
            <md-input-container class="md-block" flex="100">
            <label>Repeat New Password</label>
            <input type="password" ng-model="cpc.repeatNewPassword">
        </md-input-container>
        <div class="password-error">{{cpc.errorMessage}}</div>
        <md-button class="md-raised" ng-click="cpc.cancel()">Cancel</md-button>
        <md-button class="md-raised md-primary" ng-click="cpc.changePassword()">Save</md-button>
    </form>
</md-content>