<style>
#menuTabs {
    min-height: 50px;
}
#tabsContainer {
    min-height: 500px;
}

</style>
<div layout="row" ng-cloak class="menu-bar">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="false">
        <md-toolbar class="md-whiteframe-z1">
            <h1></h1>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="mi in menu.menuItems">
                <md-button ng-class="{'md-primary': menu.selectedMenuItem === mi}" ng-click="menu.selectMenuItem(mi)">{{mi.name}}</md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" ng-click="menu.toggleSidebar()" aria-label="Show Menu" flex="10">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1 flex="80" layout="row" layout-align="center">{{menu.title}}</h1>
            <span flex layout="column" layout-align="center center">
                <md-menu>
                <md-button class="md-icon-button" ng-click="menu.openSettings($mdOpenMenu, $event)" aria-label="Show Settings">
                    <md-icon md-svg-icon="settings"></md-icon>
                </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ng-click="menu.showChangePassword($event)">Change Password</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="menu.logout()">Logout</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </span>
        </md-toolbar>
        <md-tabs md-border-bottom md-autoselect ng-hide="menu.tabs.length === 0" id="tabsContainer">
            <md-tab ng-repeat="tab in menu.tabs" md-active="menu.selectedMenuItem == tab" ng-disabled="tab.disabled" label="{{tab.name}}">
                <content-container content="tab.content"/>
             </md-tab>
        </md-tabs>
    </div>
</div>