<md-content layout-padding layout="row" layout-align="center center">
    <form name="changePasswordForm">
        <md-input-container class="md-block" flex="100">
            <label>{{'Old Password' | translate}}</label>
            <input type="password" ng-model="cpc.oldPassword">
        </md-input-container>
        <md-input-container class="md-block" flex="100">
            <label>{{'New Password' | translate}}</label>
            <input type="password" ng-model="cpc.newPassword">
        </md-input-container>
        <md-input-container class="md-block" flex="100">
            <label>{{'Repeat New Password' | translate}}</label>
            <input type="password" ng-model="cpc.repeatNewPassword">
        </md-input-container>
        <div class="errors" ng-show="cpc.errors.length > 0" layout-align="left center">
            <li ng-repeat="error in cpc.errors">
                <ul>{{error}}</ul>
            </li>
        </div>
        <div layout="row" layout-align="center center" flex="100" class="md-block">
            <md-button class="md-raised" ng-click="cpc.cancel()">{{'Cancel' | translate}}</md-button>
            <md-button class="md-raised md-primary" ng-click="cpc.changePassword()">{{'Save' | translate}}</md-button>
        </div>
    </form>
</md-content>