<div layout="row" flex="grow" ng-cloak layout-align="center center" class="loginPage">
    <md-whiteframe class="md-whiteframe-1dp" flex="25" layout="column" layout-align="start center">
        <md-toolbar layout="row" class="md-toolbar-tools" layout-align="center center">
            {{'Forgot Password' | translate}}
        </md-toolbar>
        <md-content layout-padding layout="row" layout-align="center center">
            <form name="forgotPasswordForm" id="forgotPasswordForm">
                <md-input-container class="md-block" flex="100">
                    <label>{{'Username@Repo' | translate}}</label>
                    <input ng-model="forgotPassword.form.username">
                </md-input-container>
                <md-input-container class="md-block" flex="100">
                    <label>{{'Email Address' | translate}}</label>
                    <input type="text" ng-model="forgotPassword.form.email">
                </md-input-container>
                <div class="errors" ng-show="forgotPassword.errors.length > 0" layout-align="left center">
                    <ul>
                        <li ng-repeat="error in forgotPassword.errors">{{error}}</li>
                    </ul>
                </div>
                <md-button class="md-raised md-primary" ng-click="forgotPassword.submit()" ng-hide="forgotPassword.saving">{{'Submit' | translate}}</md-button>
                <div layout="row" layout-sm="column" layout-align="center center" ng-show="forgotPassword.saving">
                    <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
                </div>
            </form>
        </md-content>
        <div class="secondaryLink" flex="100" layout="row" layout-align="end center" ng-hide="forgotPassword.saving">
            <md-button md-no-ink ng-href="/login">{{'Cancel' | translate}}</md-button>
        </div>
    </md-whiteframe>
</div>