<script type="text/ng-template" id="tree_node">
    <tr tt-node is-branch="!node._is_leaf">
        <td><span ng-bind="node.date_last_modified"></span></td>
        <td ng-bind="node.assignee"></td>
        <td ng-bind="node.title"></td>
        <td ng-bind="node.record_number"></td>
        <td ng-bind="node.date_registered"></td>
        <td ng-bind="node.node_type_name"></td>
    </tr>
</script>
<table class="table table-hover" tt-table tt-params="nodes.dynamic_params">
    <thead>
        <tr>
            <th><span class="indenter"></span>Date last modified</th>
            <th>Assignee</th>
            <th>Title</th>
            <th>Record Number</th>
            <th>Date Registered</th>
            <th>Record Type</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>