<script type="text/ng-template" id="tree_node">
    <tr ng-click="nodes.selectNode(node)" tt-node is-branch="!node._is_leaf" ng-class="{hasContent: node.is_electronic, isLeaf: node._is_leaf}">
        <td ng-class="{loading: loading}"><span ng-bind="node.title"></span></td>
        <td ng-bind="node.node_type_name"></td>
    </tr>
</script>
<table class="table table-hover" tt-table tt-params="nodes.dynamic_params">
    <thead>
        <tr>
            <th><span class="indenter"></span>Title</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>